.logo {
  width: 77px;
  height: 77px;
  background: url(../logo.png);
  background-size: contain;
  margin: 20px auto;
}

h1 {
  font-family: arial;
  text-align: center;
}

.terminal {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  background: #ffce00;
  padding: 20px;
}

.notifications {
  height: 330px;
  overflow: scroll;
  color: #333;
  font-family: arial;
  padding-bottom: 20px;
}

.notifications ul {
  padding: 0 0 0 10px;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.term {
  background: black;
  height: 50px;
}

.term input {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border: none;
  outline: none;
  line-height: 50px;
  font-size: 20px;
  padding: 0 10px;
}